<section class="page page-right page-jumbo">
  <div class="generator">      
    <a href="#" class="h4 text-primary" id="js-people">Personnage</a>
    <hr/>
    <a href="#" class="h4 text-primary" id="js-place">Lieu</a>
    <hr/>
    <a href="#" class="h4 text-primary" id="js-mood">Humeur</a>
    <hr/>
    <a href="#" class="h4 text-primary" id="js-action">Action</a>
    <hr/>
    <a id="js-shuffle" href="#" class="h1 btn btn-lg btn-primary">
      <%= fa_icon "random", text: 'Générer une plateforme' %>
    </a>
  </div>

  <div class="chronometer">
    <div class="alert text-center">
    <div class="h2 text-primary" id='js-time'>00:00:00</div>
    <a id='js-go' href="#" class="btn btn-lg btn-default"><%= fa_icon 'play' %></a>
    <a id='js-pause' href="#" class="hidden btn btn-lg btn-default"><%= fa_icon 'pause' %></a>
    <a id='js-reset' style="margin-left:12px" href="#" class="hidden btn btn-lg btn-default">Reset</a>
  </div>
</section>

<aside class="sidebar sidebar-left sidebar-jumbo">
  <header class="about">
    <h1>Plateform Generator</h1>
    <h3>
      Générez une plateforme au hasard.
    </h3>
    <br/>
    <p class="contact text-primary text-right">
      Contact : <a href="mailto:benjamin.benoudis@gmail.com">benjamin.benoudis@gmail.com</a>
    </p>
  </header>
</aside>