<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="alert alert-info">
          <h4>Plateform Generator</h4>
          <p>
            Générez une plateforme au hasard.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a id="js-people" href="#" class="btn btn-default btn-md btn-block">Personnage</a>
        <a id="js-place" href="#" class="btn btn-default btn-md btn-block">Lieu</a>
        <a id="js-mood" href="#" class="btn btn-default btn-md btn-block">Humeur</a>
        <a id="js-action" href="#" class="btn btn-default btn-md btn-block">Action</a>
        <br/>
        <div class="text-center">
        <a id="js-shuffle" href="#" class="h1 text-primary">
          <%= fa_icon "random" %>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>