<header>
  <div class="bar">
    <a href="#" class="brand">Huts.pa</a>
  </div>
</header>

<section>
  <div class="one">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid amet atque eos laboriosam possimus corrupti quibusdam repellendus, est consequuntur nobis vero. Ipsum dolorem perferendis corrupti sequi eaque amet, placeat.
    <a href="#" class="btn btn-default">test yo</a>
  </div>
  <div class="two">
    <div class="three">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nesciunt totam non quisquam sint maxime, similique delectus mollitia asperiores dolorem amet laboriosam odio, libero ullam quos commodi eveniet, a minima?</div>
    <div class="fourth">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet modi libero, quam voluptatum laborum voluptatibus eos cum necessitatibus assumenda, facilis nisi. Non eveniet magni eligendi delectus. Deserunt expedita, quasi voluptatum.</div>
  </div>
</section>