<div id="map"></div>

<section class="page">
  <h1>Huts.pa</h1>
  <h4><em>Votre prochain bien immobilier en Israël</em></h4>
</section>

<section class="sidebar">
  <strong>Huts.pa</strong> référence les biens immobiliers à acheter ou à louer en Israël.
  <hr/>
  <div class="thumbnail">
    <img src="http://lorempixel.com/400/280/city/1/" alt="...">
    <div class="caption">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ipsa quidem animi qui.
    </div>
  </div>
    <div class="thumbnail">
    <img src="http://lorempixel.com/400/280/city/1/" alt="...">
    <div class="caption">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ipsa quidem animi qui.
    </div>
  </div>
    <div class="thumbnail">
    <img src="http://lorempixel.com/400/280/city/1/" alt="...">
    <div class="caption">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ipsa quidem animi qui.
    </div>
  </div>
    <div class="thumbnail">
    <img src="http://lorempixel.com/400/280/city/1/" alt="...">
    <div class="caption">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ipsa quidem animi qui.
    </div>
  </div>
</section>