//= require lib/bootstrap
//= require lib/bootstrap-theme
//= require font-awesome
//= require_self

@import 'nib'
@import 'jeet'
@import 'rupture'
@import 'variables'
@import 'sidebar'

// edit()
.out
  background red !important
  
body
  font-family 'Open Sans', sans-serif
  +above('m')
    padding-top 30px
    
.btn-xl
  padding 16px 26px
  font-size 26px
  line-height normal
  border-radius 8px
  
.sidebar-jumbo
  background sidebar-color
  color sidebar-text-color
  +below('m')
    display none
  
.page-jumbo
  padding 30px
  background page-color
  a
    text-decoration none
  hr
    border-top 1px solid sidebar-color
  +below('m')
    left 0
    text-align center
  
.bar-action
  margin-top 20px
  background-color #F5F5F5
  border-top 1px solid #E5E5E5
  
.about
  padding 30px
  .contact
    margin-top 20px

.chronometer
  margin-top 30px
  .time
    margin-right 20px