//= require lib/bootstrap
// require lib/bootstrap-theme
//= require font-awesome
//= require_self

@import 'nib'
@import 'jeet'
@import 'rupture'

// edit()
  
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
  
body
  font-family 'Open Sans', sans-serif
  +above('m')
    padding-top 30px
  
section, header
  padding 10px
  a.btn
    margin-bottom 15px
    
.btn-xl
  padding 16px 26px
  font-size 26px
  line-height normal
  border-radius 8px