.sidebar
  width sidebar-width
  background #fafafa
  position fixed
  top 0
  bottom 0
  overflow scroll
  
.sidebar-right
  right 0
  border-left 1px solid #ddd
  
.sidebar-left
  left 0
  border-right 1px solid #ddd
  
.page
  position fixed
  top 0
  bottom 0
  overflow scroll

.page-right
  right 0
  left sidebar-width
  
.page-left
  left 0
  right sidebar-width